
<%= simple_form_for @manga do |form| %>
        <div class="row">
                <div class="col l12 center">
                        <div class="row">
                                <div class=" input-field col l6 offset-l3">
                                        <%= form.input :title, label: 'Titre', class: "fom-control"  %>
                                </div>
                        </div>
                        <div class="row">
                                <div class="input-field col l6 offset-l3">
                                        <%= form.input :description, label: 'Description', class: "fom-control"  %>
                                </div>
                        </div>
                        <div class="row">
                                <div class=" input-field col l6 offset-l3">
                                        <%= form.association :genre, class: "form-control" %>
                                </div>
                        </div>
                        <div class="row">
                                <div class=" input-field col l6 offset-l3">
                                        <%= form.association :support, as: :select, class: "form-control" %>
                                </div>
                        </div>


                        <div class="row">
                                <div class=" input-field col l6 offset-l3">
                                        <%= form.input :image, as: :file, label: 'Image', class: "fom-control"  %>

                                        <p>
                                                <%= image_tag @manga.image_url %>
                                        </p>

                                </div>
                        </div>


                        <div class="actions">
                                <%= form.submit 'enregistrer', class: "btn green waves-effect waves-light btn-small" %>
                        </div>
                </div>
        </div>

<% end %>
