<h1 class="center">
        <%= Rails.application.class.parent_name %>
</h1>

<div class="section">

        <div class="row">

            <div class="col s12">


                 <div class="section">

                    <div class="col s12">
                        <span class="title">Les dernier Manga ajouter récemment</span>
                    </div>


                         <div class="col s12 m6 l4">


<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <a href="https://adbeus.com/montreal/plateau/dispatch-coffee-saint-laurent/">
      <img width="305" height="229" class="responsive-img wp-post-image" alt="One Piece" title="One Piece" sizes="(max-width: 305px) 100vw, 305px" <%= image_tag "one-piece01.jpg" %>     <span class="card-title home tshadb">One piece</span>
    </a>

  </div>

</div>





                            </div>


                         <div class="col s12 m6 l4">


<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <a href="https://adbeus.com/montreal/downtown/shaughnessy-cafe/">
            <img width="305" height="229" class="responsive-img wp-post-image" alt="Sword Art Online" title="Sword Art Online" sizes="(max-width: 305px) 100vw, 305px" <%= image_tag "sword_art_online.jpg" %>     <span class="card-title home tshadb">Sword Art Online</span>
      </a>

  </div>

</div>





                            </div>


                         <div class="col s12 m6 l4">


<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <a href="https://adbeus.com/montreal/westmount/standard-coffee-bar/">
            <img width="305" height="229" class="responsive-img wp-post-image" alt="One Punch Man" title="One Punch Man" sizes="(max-width: 305px) 100vw, 305px" <%= image_tag "one-punch-man.jpg" %>     <span class="card-title home tshadb">One Punch Man</span>
      </a>

  </div>

</div>





                            </div>


                         <div class="col s12 m6 l4">


<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <a href="https://adbeus.com/montreal/centre-sud/espresso-bison/">
            <img width="305" height="229" class="responsive-img wp-post-image" alt="My Hero Academia" title="My Hero Academia" sizes="(max-width: 305px) 100vw, 305px" <%= image_tag "My-Hero-Academia.png" %>     <span class="card-title home tshadb">My Hero Academia</span>
        <span class="card-title home">Espresso Bison</span>
    </a>

  </div>

</div>





                            </div>


                         <div class="col s12 m6 l4">


<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <a href="https://adbeus.com/montreal/villeray/cafe-perko/">
            <img src="https://adbeus.com/wp-content/uploads/2015/02/adbeus_noimage.png" class="responsive-img" alt="">
        <span class="card-title home">Café Perko</span>
    </a>

  </div>

</div>





                            </div>


                         <div class="col s12 m6 l4">


<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <a href="https://adbeus.com/montreal/plateau/cafe-jeanne-darc/">
            <img src="https://adbeus.com/wp-content/uploads/2015/02/adbeus_noimage.png" class="responsive-img" alt="">
        <span class="card-title home">Café Jeanne d’arc</span>
    </a>

  </div>

</div>





                            </div>


                         <div class="col s12 m6 l4">


<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <a href="https://adbeus.com/montreal/mile-end/le-butterblume/">
      <img width="305" height="229" src="https://adbeus.com/wp-content/uploads/2016/07/butterblume-montreal-coffee-adbeus-best-coffee-305x229.jpg" class="responsive-img wp-post-image" alt="Le Butterblume" title="Le Butterblume" srcset="https://adbeus.com/wp-content/uploads/2016/07/butterblume-montreal-coffee-adbeus-best-coffee-305x229.jpg 305w, https://adbeus.com/wp-content/uploads/2016/07/butterblume-montreal-coffee-adbeus-best-coffee-300x225.jpg 300w, https://adbeus.com/wp-content/uploads/2016/07/butterblume-montreal-coffee-adbeus-best-coffee-768x576.jpg 768w, https://adbeus.com/wp-content/uploads/2016/07/butterblume-montreal-coffee-adbeus-best-coffee.jpg 1024w, https://adbeus.com/wp-content/uploads/2016/07/butterblume-montreal-coffee-adbeus-best-coffee-800x600.jpg 800w" sizes="(max-width: 305px) 100vw, 305px">    <span class="card-title home">Le Butterblume</span>
    </a>

  </div>

</div>





                            </div>


                         <div class="col s12 m6 l4">


<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <a href="https://adbeus.com/montreal/plateau/myriade-espresso-bar/">
            <img src="https://adbeus.com/wp-content/uploads/2015/02/adbeus_noimage.png" class="responsive-img" alt="">
        <span class="card-title home">Myriade Espresso Bar</span>
    </a>

  </div>

</div>





                            </div>


                         <div class="col s12 m6 l4">


<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <a href="https://adbeus.com/montreal/rosemont/chez-milo-fine/">
            <img src="https://adbeus.com/wp-content/uploads/2015/02/adbeus_noimage.png" class="responsive-img" alt="">
        <span class="card-title home">Chez Milo &amp; Fine</span>
    </a>

  </div>

</div>





                            </div>


                         <div class="col s12 m6 l4">


<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <a href="https://adbeus.com/montreal/rosemont/cafe-pista/">
      <img width="305" height="229" src="https://adbeus.com/wp-content/uploads/2016/04/cafe-pista-montreal-adbeus-best-coffee-1-305x229.jpg" class="responsive-img wp-post-image" alt="Cafe Pista" title="Cafe Pista" srcset="https://adbeus.com/wp-content/uploads/2016/04/cafe-pista-montreal-adbeus-best-coffee-1-305x229.jpg 305w, https://adbeus.com/wp-content/uploads/2016/04/cafe-pista-montreal-adbeus-best-coffee-1-300x225.jpg 300w, https://adbeus.com/wp-content/uploads/2016/04/cafe-pista-montreal-adbeus-best-coffee-1-768x576.jpg 768w, https://adbeus.com/wp-content/uploads/2016/04/cafe-pista-montreal-adbeus-best-coffee-1-1024x768.jpg 1024w, https://adbeus.com/wp-content/uploads/2016/04/cafe-pista-montreal-adbeus-best-coffee-1-800x600.jpg 800w, https://adbeus.com/wp-content/uploads/2016/04/cafe-pista-montreal-adbeus-best-coffee-1.jpg 1280w" sizes="(max-width: 305px) 100vw, 305px">    <span class="card-title home">Cafe Pista</span>
    </a>

  </div>

</div>





                            </div>


                         <div class="col s12 m6 l4">


<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <a href="https://adbeus.com/montreal/st-henri/september-surf-cafe/">
            <img src="https://adbeus.com/wp-content/uploads/2015/02/adbeus_noimage.png" class="responsive-img" alt="">
        <span class="card-title home">September Surf Cafe</span>
    </a>

  </div>

</div>





                            </div>


                         <div class="col s12 m6 l4">


<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <a href="https://adbeus.com/montreal/rosemont/cafe-letincelle/">
            <img src="https://adbeus.com/wp-content/uploads/2015/02/adbeus_noimage.png" class="responsive-img" alt="">
        <span class="card-title home">Café L’Étincelle</span>
    </a>

  </div>

</div>





                            </div>


                </div>

            </div>

        </div>

    </div>
