<p id="notice"><%= notice %></p>

<h1 class="center">Tous les Supports</h1>

<table class="table striped centered responsive-table">
  <thead>
    <tr>
      <th>Titre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supports.each do |support| %>
      <tr>
        <td><%= support.title %></td>
        <td><%= link_to 'Afficher', support , class: "btn blue waves-effect waves-light btn-small hoverable" %> | <%= link_to 'Modifier', edit_support_path(support), class: "btn waves-effect waves-light btn-small hoverable"  %> | <%= link_to 'Supprimer', support, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn red waves-effect waves-light btn-small hoverable"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter un nouveau Support', new_support_path, class: "btn yellow black-text waves-effect waves-light btn-small hoverable" %>
