<!DOCTYPE html>
<html>
  <head>
          <meta  charset="utf-8">
          <meta  http-equiv="X-UA-Compatible" content="EI=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MangaTheque</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
          <div style="width:20%; position:absolute; top:10%; left:75%;min-height:30px;">
                <p class="notice light-green accent-4 center white-text hoverable " style="border-radius:20px"><%= notice %></p>
          </div>
          <div style="width:20%; position:absolute; top:10%; left:75%;min-height:30px;">
                  <p class="alert red accent-4 center white-text hoverable " style="border-radius:20px"><%= alert %></p>
          </div>
          <header class="header indigo z-depth-1">
                <!-- <img src="https://www.jqueryscript.net/images/Simplest-Responsive-jQuery-Image-Lightbox-Plugin-simple-lightbox.jpg" alt=""  class="circle responsive-img"> -->

                <!-- <h1>Parminder Klair</h1>

                <p>senior web developer</p>-->

                <nav class="indigo">
                    <div class="nav-wrapper">
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                        <ul class="hide-on-med-and-down">
                            <li><a href="/">about me</a></li>
                            <li><a href="/resume">resume</a></li>
                            <li><a href="/contact">contact</a></li>
                            <li><a href="/resources">resources</a></li>
                            <li><%= link_to "Mangas", mangas_path %></li>
                                <li class="right">
                                        <% if user_signed_in? %>
                                                <%= link_to 'Déconnexion', destroy_user_session_path %>
                                        <% else %>
                                                <%= link_to 'Connexion', new_user_session_path %>
                                        <% end %>
                                </li>
                        </ul>

                        <ul class="side-nav" id="mobile-demo" style="left: -250px;">
                            <li><a href="/">about me</a></li>
                            <li><a href="/resume">resume</a></li>
                            <li><a href="/contact">contact</a></li>
                            <li><a href="/resources">resources</a></li>
                            <li><%= link_to "Mangas", mangas_path %></li>
                            <li>
                                    <% if user_signed_in? %>
                                            <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %>
                                    <% else %>
                                            <%= link_to 'Connexion', new_user_session_path %>
                                    <% end %>
                            </li>
                        </ul>
                    </div>
                </nav>

            </header>
          <div class="container">
                  <%= yield %>
                  <!-- <%= debug user_signed_in? %>
                  <%= debug session.to_hash %> -->
          </div>
  </body>
</html>
